@font-face {
  font-family: 'IMASans-Light';
  src: url('assets/fonts/IMASans-Light.ttf') format('truetype'),
    url('assets/fonts/IMASans-Light.woff2') format('woff2'),
    url('assets/fonts/IMASans-Light.woff') format('woff'),
    url('assets/fonts/IMASans-Light.otf') format('opentype');
}

@font-face {
  font-family: 'IMASans-Bold';
  src: url('assets/fonts/IMASans-Bold.ttf') format('truetype'),
    url('assets/fonts/IMASans-Bold.woff2') format('woff2'),
    url('assets/fonts/IMASans-Bold.woff') format('woff'),
    url('assets/fonts/IMASans-Bold.otf') format('opentype');
}
