.idea
*.iml
target
.settings
.classpath
.project
.metadata
.recommenders
client/node_modules
client/build
bin
travis/codesigning.asc
frontend-plugin-core/target
frontend-maven-plugin/target

#macOS
.DS_Store
.vscode